{
  "presets": [
      [
          "@babel/preset-env",
          {
            "useBuiltIns": false,
            "targets": {
                "chrome": "35",
                "ie": "8",
                "safari": "3"
            }
          }
        ]
    ],
  "plugins": ["@babel/transform-async-to-generator"]
}
